.header {
  padding: 10px 0;
  text-align: center;
}
.moviesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-bottom: 40px;
}

.moviesItem {
  margin: 15px;
}

.fullInfoMovieImg {
  max-width: 320px;
  height: 500px;
  margin-bottom: 20px;
  border-radius: 5px;
  object-fit: cover;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  text-align: center;
}
