.main {
  padding: 40px 0;
  text-align: left;
}

.filmInfo {
  display: flex;
  margin-left: 100px;
}

.infoWrapper {
  text-align: center;

  padding: 20px;
}

.moviesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-bottom: 40px;
}

.moviesItem {
  margin: 15px;
}

.fullInfoMovieImg {
  max-width: 320px;
  height: 500px;
  margin-bottom: 20px;
  border-radius: 5px;
  object-fit: cover;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  text-align: center;
}

.score {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
}

.genre {
  display: flex;
  align-items: center;
}

.genre li:not(:last-child)::after {
  content: ',';
  margin-right: 5px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  padding: 20px 40px;
  border-top: 2px solid #2a363b;
}

.link {
  margin-right: 24px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #2a363b;
}
